*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
  display: flex;
  justify-content: center;
  background-color:rebeccapurple;
  height: 100vh;
}

.container
{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 500px;
    padding: 50px;
    align-self: center;
    border-radius: 20px;
}

.row
{
    display: flex;
}
.col
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > .row
{
    width: 100%;
    justify-content: space-evenly;
}

.name
{
    font-size: x-large;
    margin: 20px 0px;
    font-weight: bold;
}

.score
{
    font-size: xx-large;
}

.score > .span
{
    margin: 0px px;
}

.runs
{
    font-size: x-large;
    width: 150px;
    justify-content: space-evenly;
}

#btnStrike{
width: 250px;
margin: 20px 0px;
background-color: darksalmon;
border-radius: 15px;
font-size: x-large;
outline: none;
}


